page-chatpage {
    .chat {
        height: 80vh;
        width: 100%;
        overflow-y: scroll;
    }
    .chat>div {
        padding: 0.5rem;
        overflow: hidden;
        display: block;
    }
    p#userStatus {
        padding-left: 1%;
        margin: 0px;
    }
    #messageInput {
        background-color: lightgray;
    }
    .toolbar-background {
        background-color: #30adde;
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    div.chat-message {
        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 80%;
    }
    div.chat-message:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
    }
    div.chat-message.right {
        background-color: #488aff;
        color: #fff;
        float: right;
    }
    div.chat-message.right:before {
        background-color: #488aff;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
        transform: rotate(118deg) skew(-5deg);
    }
    div.chat-message.left {
        background-color: #e6e5eb;
        float: left;
    }
    div.chat-message.left:before {
        background-color: #e6e5eb;
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
        transform: rotate(70deg) skew(5deg);
    }
    .msg-detail>p {
        padding: 0px;
        color: tan;
        margin: 0px;
        float: right;
        text-align: right;
    }

    
}